#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    height: 800px;
    width: 850px;
}

#columns {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
    
.moo {
    display: flex;
    outline: 2px solid;
    background-color: red;
    box-sizing: border-box;
    flex-basis: 5%; 
}

#moo3 {
    background-color: green;
}