#container {
    display: flex;
    padding-top: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    height: 800px;
    width: 800px;
}

#columns {
    flex: 1;
    flex-direction: column;
    
}

#rows {
    flex: 1;
    flex-direction: row;
}
    
.moo {
    display: flex;
    outline: 2px solid;
    background-color: red;
    box-sizing: border-box;
    flex-basis: 5%; 
}

